<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="camera_sensor"/>
    
    <joint name="camera_sensor_joint" type="fixed">
        <parent link="base_link" />
        <child link="camera_sensor" />
        <!-- rpy is adjusted for rtabmap  -->
        <!-- blue -> foward
        red -> up
        green -> left -->
        <!-- <origin xyz=".1 .1 .1" rpy="3.14159 -1.5708 0"/> -->
        <origin xyz=".1 .1 .1" rpy="0 0 0"/>
    </joint>

    <gazebo reference="camera_sensor">
        <sensor name="camera_sensor" type="rgbd_camera">
            <camera>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.6</near>
                    <far>20</far>
                </clip>

                <depth_camera>
                    <output>depths</output>
                    <clip>
                        <near>0.6</near>
                        <far>6</far>
                    </clip>
                </depth_camera>
                
                <optical_frame_id>camera_sensor</optical_frame_id>
                <camera_info_topic>camera/camera_info</camera_info_topic>
            </camera>

            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <topic>camera/images</topic>
        </sensor>
    </gazebo>

</robot>