<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="gps_sensor"/>
    
    <joint name="gps_sensor_joint" type="fixed">
        <parent link="base_link" />
        <child link="gps_sensor" />
        <origin xyz=".1 0 .1" rpy="0 0 0"/>
    </joint>

    <gazebo reference="gps_sensor">
        <sensor name="gps_sensor" type="gps">
            <always_on>1</always_on>
            <update_rate>1</update_rate>
            <visualize>true</visualize>
            <topic>gps</topic>
        </sensor>
    </gazebo>

</robot>